<div
  class="border-top"
  style="border-color: #fff; width: 40%; margin-top: 6%"
></div>
<div class="row mt-4 d-flex justify-content-center align-items-center">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <img
          class="photos-magic"
          style="max-width: 100%"
          src="../../../assets/Four Rectangle Collage Blank-fotor-bg-remover-20230427201124.png"
          alt=""
        />
      </div>
      <div class="col-md-8">
        <h4 style="color: #fff">Foods and More!</h4>
        <div class="d-flex align-items-center">
          <p class="bolg-disc">
            I have two passions in life: creating delicious food and capturing
            its beauty through photography. As an amateur cook, I love
            experimenting with different ingredients and techniques to create
            dishes that are both flavorful and visually appealing. And as an
            amateur photographer, I enjoy capturing the colors, textures, and
            details of the food I create, using lighting, composition, and other
            <br />
            for more recipes please follow me at
            <a style="color: #fff" href="https://www.instagram.com/youe.atit/"
              >You're what you eat</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <img
          class="photos-magic"
          style="max-width: 100%"
          src="../../../assets/Five_Circle_Collage_Blank-removebg-preview.png"
          alt=""
        />
      </div>
      <div class="col-md-8">
        <h4 style="color: #fff">Why I Travel?</h4>
        <div class="d-flex align-items-center">
          <p class="bolg-disc">
            I have two passions in life: creating delicious food and capturing
            its beauty through photography. As an amateur cook, I love
            experiment, and both allow me to express myself in unique and
            satisfying ways. Whether I'm cooking up a storm in the kitchen or
            setting up the perfect shot for a food photo, I find joy and
            fulfillment in every step of the process. And best of all, I get to
            share my creations with others, both through the delicious meals I
            serve and the stunning photos I take. <br />
            for more recipes please follow me at
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- techniques to showcase its beauty. For me, cooking and photography
go hand in hand. Both require a creative eye and a willingness to
experiment, and both allow me to express myself in unique and
satisfying ways. Whether I'm cooking up a storm in the kitchen or
setting up the perfect shot for a food photo, I find joy and
fulfillment in every step of the process. And best of all, I get to
share my creations with others, both through the delicious meals I
serve and the stunning photos I take. -->
