<div class="main-background">
  <div class="container">
    <div class="row" style="display: flex;align-items: baseline;">
      <div class="col-12 order-1 col-md-3 offset-md-2
       d-flex justify-content-center align-items-center"
       style="margin-top:15%">
       <div>
         <img class="pro-img" src="../../assets/imgonline-com-ua-shape-1u4XjbF3qB94DG.png" alt="">
       </div>
      </div>
      <div class=" col-12 order-2 col-md-6 mt-3" style="text-align: center">
        <h3 class="header" >Hello, Welcome to my blog!</h3>
        <div class="bolg-disc">This is Asmaa, junior software engineer,
           here you can found a quick brief of my work,
           most of them are self learning front-end projects, in addition to some hobbies! </div>
       <div class="row mt-5">
        <h6 class="bolg-disc" style="text-align: center;">
          meanwhile, you can find me here
         </h6>

         <div class="d-flex justify-content-center align-items-center mt-3">
           <a href="https://github.com/asmaaMous556" target="_blank">
             <img  class="icon me-4" src="../../assets/github.png" alt="">
           </a>
           <a href="https://www.linkedin.com/in/asmaa-moustafa-2b4b77148/" target="_blank">
            <img class="icon me-4" src="../../assets/linkedin.png" alt="">
          </a>
          <a href="https://www.instagram.com/asmaa.mous/" target="_blank">
            <img class="icon" src="../../assets/instagram.png" alt="">
          </a>
         </div>
       </div>


      </div>
    </div>
  </div>
</div>

