<div class="main-background">
  <div class="container">
    <div class="row" style="display: flex; align-items: baseline">
      <div
        class="col-12 order-1 col-md-3 offset-md-2 d-flex justify-content-center align-items-center"
        style="margin-top: 15%"
      >
        <div>
          <img
            class="pro-img photos-magic"
            src="../../assets/MicrosoftTeams-image (4).png"
            style="border-radius: 50%; width: 200px; max-width: 100%"
            alt=""
          />
        </div>
      </div>
      <div class="col-12 order-2 col-md-6 mt-3" style="text-align: center">
        <h3 class="header">Hello, Welcome to my blog!</h3>
        <div class="bolg-disc">
          This is Asmaa, A junior software engineer with a versatile experience,
          background and yet a longer path to improve. Here you can find a quick
          brief of my work, most of which are self learning front-end projects,
          in addition to some hobbies!
        </div>
      </div>
    </div>
    <app-main-hobbies></app-main-hobbies>
    <div class="row mt-5 pb-4">
      <h6 class="bolg-disc" style="text-align: center">
        meanwhile, you can find me here
      </h6>

      <div class="d-flex justify-content-center align-items-center mt-3">
        <a href="https://github.com/asmaaMous556" target="_blank">
          <img class="icon me-4" src="../../assets/github.png" alt="" />
        </a>
        <a
          href="https://www.linkedin.com/in/asmaa-moustafa-2b4b77148/"
          target="_blank"
        >
          <img class="icon me-4" src="../../assets/linkedin.png" alt="" />
        </a>
        <a href="https://www.instagram.com/asmaa.mous/" target="_blank">
          <img class="icon" src="../../assets/instagram.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
